#navbarScroll ul li a.navLink::after{
  content: '';
  top: 100%;
  left: 50%;
  transform: scaleX(0);
  transform-origin: top left;
  width: 100%;
  height: 2px;
  background: red;
  display: block;
  transition: .5s;
}

#navbarScroll ul li a.navLink:hover::after{
  transform: scaleX(1);
}

#navbarScroll ul li a.active::after{
  content: '';
  top: 100%;
  left: 50%;
  transform: scaleX(1);
  width: 100%;
  height: 2px;
  background: red;
  display: block;
}

@media (max-width: 1000px) {
  .education{
    display: none;
  }
  .clearanceForm{
    border: none;
  }
  #navbarScroll ul li a.navLink::after{
    width: 0;
  }
  .courses{
    flex-wrap: wrap;
  }
}